*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.services-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/servicesbanner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*<!------ Services ------->*/

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.services h1{
    font-size: 36px;
    font-weight: 600;
}
.services p{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: 'STIX Two Text', serif;
}
.row{
    margin-top: 5%;
    display: flex;
    margin-left: 1.2%;
    width: 100%;
    justify-content: space-between;
}
.services-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 0.5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.services-col h3{
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
    font-family: 'Oswald', sans-serif;
}
.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row {
        flex-direction: column;
    }
    .services h1{
    font-size: 22px;
}
.services-header{
    min-height: 25vh;
    }
}