*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.logo{
    height="65px" width="150px"
}
@media(max-width: 700px){
    .logo{
        height: 32.5px;
        width: 75px;
    }
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center
}
nav img{
    width: 150px;    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: right;
}
.text-box h1{
    font-size: 50px;
    font-family: Roboto, sans-serif;
    white-space: normal;
    color: rgb(228, 232, 240);
}
.text-box p{
    color: rgb(192, 229, 142); 
    font-family: Roboto, sans-serif; 
    font-size: 26px; 
    font-weight: 400; 
    white-space: normal;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #f44336;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: 600;
    background-color: #ef291a;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.hero-btn:hover{
    border: 1px solid #fff;
    background: #ffd700;
    border-radius: 20px 20px 20px 20px;
    transform: 1s;
    color: #050505;
}

nav .fa{
    display: none;
}

/*@Media */

@media(max-width: 700px){
    .text-box h1{
        font-size: 28px;
    }
    .text-box p{
        font-size: 18px;
        margin-top: 35px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .header{
        min-height: 50vh;
    }    
}

/*----tagline----*/

.tagline{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #9d1910;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    font-family: monospace;
}
@media(max-width: 700px){
    .tagline{
        font-size: 10px;
    }
}
/*----self----*/

.self p{
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-left: 30%;
    padding-bottom: 3px;
    background-color: #fff;
    color: #170b57;
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
}
.self h1{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-left: 4%;
    padding-bottom: 30px;
    background-color: #fff;
    color: #170b57;
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
}
@media(max-width: 700px){
    .self h1{
        font-size: 20px;
    }
    .self p{
        font-size: 10px;
    
    }
}

/*<!------ IPGA2021 ------->*/
.ipga2021{
    background-color: #f5f8c8;
}
.ipga2021 h1{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 3px;
    background-color: #f5f8c8;
    color: #110458;
    font-size: 35px;
    font-weight: 600;
    font-family: sans-serif;
}
.ipga2021 p{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 20px;
    background-color: #f5f8c8;
    color: #110458;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
@media(max-width: 700px){
   .ipga2021 h1{
        font-size: 20px;
    }
   .ipga2021 p{
        font-size: 10px;
    }
}
.ipgacolumn {
  flex-basis: 16.66%;
  background-color: #f5f8c8;
  padding: 15px 7px;    
  box-sizing: border-box;
  transition: 0.5s;  
}
.ipgacolumn:hover{
    box-shadow: 0 0 20px 0px;
    border-radius: 10px;
}

/* Clear floats after image containers */

.ipgarow{   
  justify-content: space-between;
  display: flex;
  background-color: #f5f8c8;
}
@media(max-width: 700px){
   .ipgarow{
       flex-direction: row;
       margin-left: 4%;
       margin-right: 4%;
    }
    .ipgacolumn{
      flex-basis: 16%;
      padding: 7.5px 3.5px;
    }
}

/*Distribution Channels*/
.channels{
    background-color: white;
}
.channels h1{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    color: #110458;
    font-size: 35px;
    font-weight: 600;
    font-family: sans-serif;
}
.channels p{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 30px;
    color: #110458;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
@media(max-width: 700px){
   .channels h1{
        font-size: 15px;
    }
   .channels p{
        font-size: 10px;
        padding-bottom: 5px;
    }
}
.channelscolumn{
  flex-basis: 19%;
  padding: 15px 7px;    
  box-sizing: border-box;
}

/* Clear floats after image containers */

.channelsrow{
  justify-content: space-between;
  display: flex;
}

@media(max-width: 700px){
   .channelsrow{
       flex-direction: row;
       margin-left: 10%;
       margin-right: 10%;
    }
    .channelscolumn{
      flex-basis: 20%;
      padding: 7.5px 3.5px;
    }
}
/*Our Leadership*/

.leader h1{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Oswald';
}
.leader{
    background-color: #031b2e;
}
 .container {
        display: flex;
        align-items: top;
        justify-content: center;
      }
      img {
        max-width: 100%;
      }
      .image {
        flex-basis: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
      }
      .text {
        font-size: 25px;
        padding-left: 20px;
        padding-right: 25px;
        text-align: justify;
        line-height: 36px;
        padding-bottom: 20px;
        color: #fff;  
}
.text p{
    font-family: "EB Garamond";
    font-weight: 400; 
}
@media(max-width: 700px){
   .leader h1{
        font-size: 17px;
    }
  .text {
        font-size: 11px;
        line-height: 15px;
        padding-left: 10px;
    }
    .container {
        display: flex;
        align-items: top;
        justify-content: center;
      }
      img {
        max-width: 100%;
      }
      .image {
        flex-basis: 700%;
        padding-left: 20px;
        padding-right: 0;  
        padding-bottom: 20px;
      }
}

/*Call To Action*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 15px;
    margin-top: 50px;
}
   
.cta h1{
    color: aliceblue;
    margin-bottom: 40px;
    padding: 0;
    font-size: 40px;
}
@media(max-width: 700px){
    
.cta h1{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-btn{
    border: 1px solid #f44336;
    padding: 5px 15px;
    font-size: 12.5px;
    font-weight: 600;
} 
    .cta{
    padding: 40px 0;
    margin-top: 20px;
    margin-bottom: -30px;
}
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


